//Google Font

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

//Utilities

.disabled {
  pointer-events: none;
  user-select: none;
}

//Mixins

//draw a box
@mixin box($w, $h: $w) {
  width: $w;
  height: $h;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }
}

html {
  height: 100%;
  font-family: "Quicksand", Arial, sans-serif;
}

body {
  height: 100%;
  background: rgba(#c73028, 0.8);
  background: linear-gradient(
    130deg,
    rgba(#c73028, 0.8) 25%,
    rgba(#df742d, 0.8) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3f3f3f;

  #wrapper {
    height: 90vh;
    max-width: 90%;
    aspect-ratio: 1;
    background: #f1f1f1;
    border-radius: 3%;
    box-shadow: -10px 10px 15px -3px rgba(#000, 0.2);
    padding: 60px 30px;

    h1 {
      text-align: center;
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
    }

    .choices {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 13px;
      margin: 40px;
      flex-wrap: wrap;

      li {
        list-style-type: none;
        background: #fff;
        border-radius: 7%;
        transition: 0.15s;
        @include box(200px);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 7px 15px -3px rgba(#000, 0.2);
        cursor: pointer;
        flex-shrink: 0;

        &:hover {
          scale: 0.9;
        }

        img {
          max-height: 150px;
        }
      }
    }

    #messageBox {
      text-align: center;
      margin: 0 0 30px;
      font-size: 2rem;
      font-weight: 700;
    }

    .keep-score {
      margin: 0 0 40px 0;
      p {
        text-align: center;
        span {
          font-weight: 700;
        }
      }
    }

    .controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

      a {
        @include box(180px, 60px);
        border-radius: 50px;
        display: block;
        line-height: 60px;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        transition: 0.15;

        &:active {
          scale: 0.9;
          box-shadow: 0px 7px 15px -3px rgba(#000, 0.4);
        }

        &:nth-of-type(1) {
          background: #28a745;
        }

        &:nth-of-type(2) {
          background: #007bff;
        }
      }
    }
  }
}
